<div class="px-2">
  <h1>{{ title }}</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav class="navbar navbar-primary">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/routings" routerLinkActive="active"
          >Routings</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forms" routerLinkActive="active"
          >Forms</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/not-found" routerLinkActive="active"
          >Not found</a
        >
      </li>
    </ul>
  </nav>
  <main class="mt-3">
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </main>
</div>
